<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/boardList.css">
</head>
<body>

<div th:each="board : ${allBoardList}">
    <div class="wrapper" th:data-id="${board.getId()}">
        <div class="imgWrap">
            <img class="roomImg" th:src="@{'../static' + ${board.getRoomImage()}}" alt="img" id="roomImg"/>
        </div>
        <div class="roomInfoWrap">
            <div class="priceWrap">
                <div class="price" th:if="${board.getRentType()} == ${board.getRentType().MONTH}" th:text="'월세 ' + ${board.getDeposit()} + '/' + ${board.getMonth()}"></div>
                <div class="price" th:if="${board.getRentType()} == ${board.getRentType().YEAR}" th:text="'전세 ' + ${board.getDeposit()}"></div>
<!--                <div class="heartWrap" id="heartWrap">-->
<!--                    <img src="../../static/images/하트.png" id="likeBtn" class="likeBtn"/>-->
<!--                    <img src="../../static/images/좋아요.png" id="unlikeBtn" class="unlikeBtn"/>-->
<!--                </div>-->
            </div>
            <div class="floorInfo">
                <div class="mr-7" th:text="${board.getFloorsNumber()} + '층'"></div>
                <div th:text="${board.roomArea} + '평'"></div>
            </div>
            <div class="addressInfo">
                <div th:text="${board.getAddress()}"></div>
            </div>
            <div class="roomContents" th:text="${board.getTitle()}"></div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {

        $('.wrapper').click(function () {
            var boardId = $(this).data("id");
            window.location.href = "board/boardDetail/" + boardId;
        })

    });

</script>
</body>
</html>