<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/boardList.css">
</head>
<body>
<div class="wrapper">
    <div class="imgWrap">
        <img class="roomImg" src="../../static/images/사진추가이미지.png" alt="img" />
    </div>
    <div class="roomInfoWrap">
        <div class="priceWrap">
            <div class="price">월세 500/ 50</div>
            <div class="heartWrap">
                <img src="../../static/images/하트.png"/>
<!--                <img src="../../static/images/좋아요.png"/>-->
            </div>
        </div>
        <div class="floorInfo">
            <div class="mr-7">3층</div>
            <div>33.33m2</div>
        </div>
        <div>관악구 봉천동</div>
        <div class="roomContents">깔끔 그 잡채</div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

</script>
</body>
</html>