<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" type="text/css" th:href="@{../static/css/header.css}">
</head>
<body>
<div class="top-wrapper">
    <div class="btn-wrapper">
        <img src="../../static/images/집보는중m.png" class="indexBtn"/>
        <div class="text-wrapper">
            <span class="text">
                원룸
            </span>
            <span class="text">
                원룸
            </span>
            <span class="text">
                원룸
            </span>
            <span class="text">
                원룸
            </span>
        </div>
    </div>
    <div class="searchBox">
        <input class="searchText" type="text" placeholder="원하시는 지역명, 지하철역을 입력해주세요">
        <button class="searchBtn" type="submit">
            <img src="../../static/images/돋보기.png">
        </button>
    </div>
    <div id="moveLoginBtn" class="loginBtn">
        로그인
    </div>
    <div id="userZone" class="userWrap">
        <div class="userName">
            <img src="../../static/images/useImg.png"/>
            <input type="text" id="memberNick" th:value="${memberNick}" readonly/>
            <span th:text="${memberNick}">님 안녕하세요</span>
        </div>
        <div class="dropDown-box">
            <a>마이페이지</a>
            <a>로그아웃</a>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var memberNick = $("#memberNick").val();

        if(memberNick != '') {  // memberNick 이 값이 있다면(로그인이 됐다면)
            $("#moveLoginBtn").hide();
            $("#userZone").show();
        } else {
            $("#moveLoginBtn").show();
            $("#userZone").hide();
        }

        $('#moveLoginBtn').click(function () {
           window.location.href = "kakao"
        });
    });
</script>

</body>
</html>