<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/createBoard.css">
</head>
<body>
<div id="header"></div>
<div class="wrap">
    <div class="all_wrapper">
    <label class="title">내집 내놓기</label>
    <ul>
        <li>전/월세 매물만 등록할 수 있습니다.</li>
        <li>임대인과 퇴실 협의 후 작성해 주시길 바랍니다.</li>
        <li>내놓으시려는 집의 계약서를 참고하시며 작성하시면 원활하게 작성 가능합니다.</li>
        <li>본인 명이의 계약이 된 집이 아닌경우 계약 명의자의 출석이 요구될 수 있습니다.</li>
        <li>금액 및 옵션을 정확한 정보를 입력 바랍니다.</li>
    </ul>
    <form method="post" th:action="@{board/create}" id="createBoardForm" class="register_form">
        <div class="form_wrapper">
        <div class="roomType_wrap">
            <label class="title_label">매물 유형</label>
            <div class="roomType_radio">
                <div>
                    <input type="radio" id="roomType_one" name='roomType' value='ONE'/>
                    <label for="roomType_one">원룸</label>
                </div>
                <div>
                    <input type="radio" id="roomType_two" name='roomType' value='TWO'/>
                    <label for="roomType_two">투룸</label>
                </div>
            </div>
        </div>

        <div class="address_wrap">
            <label class="title_label">매물 주소</label>
            <div class="addressZone">
                <label class="subtitle" >주소 검색</label>
<!--                <div class="addressZone_input">-->
<!--                    <input type="text" class="address" name="address" placeholder="예) OOO동 OO-O, OO구 OO동" readonly="readonly">-->
<!--                    <button onclick="findAddr()">검색</button>-->
<!--                </div>-->
<!--                <input type="text" class="addressDetail" name="addressDetail" placeholder="상세주소 입력">-->

                <div class="addressZone_input">
                    <input style="width: 40%;" placeholder="우편번호" name="addr1" id="addr1" type="text" readonly="readonly" >
                    <button type="button" onclick="findAddr();">검색</button>
                </div>
                <div class="addressZone_input">
                    <input style="top: 5px;" placeholder="도로명 주소" name="address" type="text" readonly="readonly" />
                </div>
                <div class="addressZone_input">
                    <input placeholder="상세주소 입력" name="addressDetail" type="text" />
                </div>

            </div>
        </div>
        <div class="roomInfo_wrap">
            <label class="title_label">방 정보</label>
            <div class="roomInfo_content">
                <div class="subtitle">전용면적</div>
                <div class="roomInfoZone">
                    <div class="roomInfo_input">
                        <input type="number" name="roomArea" placeholder="평수 입력">
                        <span>평</span>
                    </div>
                    <div class="roomInfo_radio">
                        <div>
                            <input type="radio" id="roomInfo_open" name="roomInfo" value="OPEN">
                            <label for="roomInfo_open">오픈형</label>
                        </div>
                        <div>
                            <input type="radio" id="roomInfo_detachable" name="roomInfo" value="DETACHABLE">
                            <label for="roomInfo_detachable">분리형</label>
                        </div>
                        <div>
                            <input type="radio" id="roomInfo_layer" name="roomInfo" value="LAYER">
                            <label for="roomInfo_layer">복층형</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rentType_wrap">
            <label class="title_label">거래 종류</label>
            <div class="rentType_radio">
                <div>
                    <input type="radio" id="rentType_M" name='rentType' value='MONTH'/>
                    <label for="rentType_M">월세</label>
                </div>
                <div>
                    <input type="radio" id="rentType_Y" name='rentType' value='YEAR'/>
                    <label for="rentType_Y">전세</label>
                </div>
            </div>
        </div>

        <div class="roomCost_wrap">
            <label class="title_label">가격 정보</label>
            <div class="roomCost_contents">
                <div class="roomCost_input">
                    <div>
                        <span class="subtitle">보증금</span>
                        <div class="roomCost_pay">
                            <input type="number" name="deposit" value="deposit"/>
                            <span>만원</span>
                        </div>
                    </div>

                    <div>
                        <span class="subtitle">월세</span>
                        <div class="roomCost_pay">
                            <input type="number" name="month" value="month"/>
                            <span>만원</span>
                        </div>
                    </div>
                </div>

                <div class="roomCost_radio">
                    <span class="subtitle">관리비 여부</span>
                    <div class="roomCost_radio_wrap">
                        <div>
                            <input type="radio" name="cost" id="r2" value="false">
                            <label for="r2">없음</label>
                        </div>
                        <div>
                            <input type="radio" name="cost" id="r1" value="true" checked>
                            <label for="r1">있음</label>
                        </div>
                        <div class="roomCost_cost_wrap">
                            <input type="number" name="roomCost"/>
                            <span>만원</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="roomDate_wrap">
            <label class="title_label">입주 가능 일자</label>
            <div class="roomDate_contents">
                <div class="roomDate_radio_wrap">
                    <div>
                        <input type="radio" name="date" id="date1" value="0">
                        <label for="date1">즉시 입주</label>
                    </div>
                    <div>
                        <input type="radio" name="date" id="date2" value="1" checked>
                        <label for="date2">일자 선택</label>
                    </div>
                </div>
                <input class="roomDate_calender" type="date" name="datePicker"/>
            </div>
        </div>

        <div class="roomFloor_wrap">
            <label class="title_label">층 수</label>
            <div class="roomFloor_contents">
                <div class="roomFloor_select">
                    <span class="subtitle">전체 층 수</span>
                    <select name="totalFloor">
                        <option value="">선택</option>
                        <option value="1">1층</option>
                        <option value="2">2층</option>
                        <option value="3">3층</option>
                        <option value="4">4층</option>
                        <option value="5">5층</option>
                        <option value="6">6층</option>
                        <option value="7">7층</option>
                        <option value="8">8층</option>
                        <option value="9">9층</option>
                    </select>
                </div>
                <div class="roomFloor_select">
                    <span class="subtitle">해당 층 수</span>
                    <select name="floorsNumber">
                        <option value="">선택</option>
                        <option value="1">1층</option>
                        <option value="2">2층</option>
                        <option value="3">3층</option>
                        <option value="4">4층</option>
                        <option value="5">5층</option>
                        <option value="6">6층</option>
                        <option value="7">7층</option>
                        <option value="8">8층</option>
                        <option value="9">9층</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="addInfo_wrap">
            <label class="title_label">추가 정보</label>
            <div class="info_wrap">
                <div class="info_contents">
                    <span class="subtitle">엘리베이터</span>
                    <div class="info_contents_wrap">
                        <div>
                            <input type="radio" id="elevator_false" name='elevator' value='false'/>
                            <label for="elevator_false">없음</label>
                        </div>
                        <div>
                            <input type="radio" id="elevator_true" name='elevator' value='true'/>
                            <label for="elevator_true">있음</label>
                        </div>
                    </div>
                </div>

                <div class="info_contents">
                    <span class="subtitle">주차 가능 여부</span>
                    <div class="info_contents_wrap">
                        <div>
                            <input type="radio" name="parking" id="parking1" value="false">
                            <label for="parking1">불가능</label>
                        </div>
                        <div>
                            <input type="radio" name="parking" id="parking2" value="true" checked>
                            <label for="parking2">가능</label>
                        </div>
                        <div class="parking_cost">
                            <input type="number" name="parkingCost"/>
                            <span>만원</span>
                        </div>
                    </div>
                </div>

                <div class="info_contents">
                    <span class="subtitle">옵션</span>
                    <div class="info_checkbox_wrap">
                        <div>
                            <input type="checkbox" id="fridge" value="fridge">
                            <label for="fridge">냉장고</label>
                        </div>
                        <div>
                            <input type="checkbox" id="washer" value="washer">
                            <label for="washer">세탁기</label>
                        </div>

                        <div>
                            <input type="checkbox" id="air_conditioner" value="air_conditioner">
                            <label for="air_conditioner">에어컨</label>
                        </div>
                        <div>
                            <input type="checkbox" id="oven" value="oven">
                            <label for="oven">전자렌지</label>
                        </div>
                        <div>
                            <input type="checkbox" id="closet" value="closet">
                            <label for="closet">옷장</label>
                        </div>
                        <div>
                            <input type="checkbox" id="desk" value="desk">
                            <label for="desk">책상</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="updateFile_wrap">
            <label class="title_label">사진 등록</label>
            <div class="photo_wrap">
                <div class="inputFile">
                    <input type="file" name="roomImages" class="upload_Img" accept=".jpg, .png, .gif" multiple>
                    <div class="upload"></div>
                </div>
            </div>
        </div>

        <div class="detailDescription_wrap">
            <label class="title_label">상세 설명</label>
            <div class="detailContents_wrap">
                <div>
                    <span class="subtitle">제목</span>
                    <input name="title" class="detail_title_input" maxlength="40" placeholder="리스트에 노출되는 문구입니다. 40자 이내로 작성해 주세요"/>
                </div>
                <div>
                    <span class="subtitle">내용</span>
                    <textarea name="textArea" class="detail_textArea" maxlength="1000" placeholder="매물 상세 페이지에 노출되는 문구입니다. 1000자 이내로 작성해 주세요."></textarea>
                </div>
            </div>
        </div>
        </div>
        <button class="register_button" id="createBoardButton" type="submit">매물 등록</button>
    </form>
    </div>
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function findAddr() {
        var width = 500; //팝업의 너비
        var height = 600; //팝업의 높이
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 도로명 조합형 주소 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }
                // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                if(fullRoadAddr !== ''){
                    fullRoadAddr += extraRoadAddr;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                console.log(data.zonecode);
                console.log(fullRoadAddr);


                $("[name=addr1]").val(data.zonecode);
                $("[name=address]").val(fullRoadAddr);


            }
        }).open();
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var refreshToken = localStorage.getItem('refreshToken');
        var token = localStorage.getItem('token');

         $("#header").load("/header");


        $("input:radio[name=cost]").click(function(){

            if($("input[name=cost]:checked").val() == "true"){
                $("input[name=roomCost]").attr("disabled",false).val("");
                // radio 버튼의 value 값이

            }else if($("input[name=cost]:checked").val() == "false"){
                $("input[name=roomCost]").attr("disabled",true).val("0");
                // radio 버튼의 value 값이 0이라면 비활성화
            }
        });

        $("input:radio[name=date]").click(function(){
            if ($("input[name=date]:checked").val() == "0") {
                $("input[name=datePicker]").val(new Date().toISOString().split('T')[0]).attr("disabled", true);
            }
            // 라디오 버튼 클릭 이벤트 핸들러
            $("input:radio[name=date]").click(function() {
                if ($("input[name=date]:checked").val() == "0") {
                    // 즉시 입주를 선택한 경우 오늘 날짜로 설정
                    const currentDate = new Date().toISOString().split('T')[0];
                    $("input[name=datePicker]").val(currentDate).attr("disabled", true);
                } else if ($("input[name=date]:checked").val() == "1") {
                    // 일자 선택을 선택한 경우 날짜 필드 활성화
                    $("input[name=datePicker]").attr("disabled", false).val(""); // 빈 값으로 초기화
                }
            });
        });


        // $("input:radio[name=datePicker]").click(function () {
        //     if($("input[name=datePicker]:checked").val() == "1") {
        //         $("input[name=date]").attr("disabled", false).val(local.date.now());
        //
        //     }else if($("input[name=datePicker]:checked").val() == "0") {
        //         $("input[name=date]").attr("disabled",true);
        //     }
        // });

        // $("input:radio[name=parking]").click(function () {
        //     if($("input[name=parking]:checked").val() == "1") {
        //         $("input[name=number]").attr("disabled",false);
        //     }else if($("input[name=parking]:checked").val() == "0") {
        //         $("input[name=number]").attr("disabled",true);
        //     }
        // })

        $("input:radio[name=parking]").click(function(){

            if($("input[name=parking]:checked").val() == "true"){
                $("input[name=parkingCost]").attr("disabled",false).val("");
                // radio 버튼의 value 값이

            }else if($("input[name=parking]:checked").val() == "false"){
                $("input[name=parkingCost]").attr("disabled",true).val("0");
                // radio 버튼의 value 값이 0이라면 비활성화
            }
        });

        $("#createBoardButton").click(function() {
            var formData = new FormData(document.getElementById("createBoardForm"));
            var jsonData = {};
            formData.forEach((value, key) => {
                if (jsonData[key]) {
                    if (!Array.isArray(jsonData[key])) {
                        jsonData[key] = [jsonData[key]];
                    }
                    jsonData[key].push(value);
                } else {
                    jsonData[key] = value;
                }
            });

            $.ajax({
                type: 'POST',
                url: '/board/create',
                headers: {
                    'X-AUTH-REFRESHTOKEN': refreshToken,
                    'X-AUTH-TOKEN': token,
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify(jsonData),
                success: function(response) {
                    console.log('게시글 등록 성공:', response);

                    window.location.href = '/';
                },
                error: function(error) {
                    console.error('게시글 등록 실패:', error);
                }
            });
        });
    });


</script>
</body>
</html>