<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이메일로그인</title>
    <link rel="stylesheet" href="../static/css/emailLogin.css">
    <link rel="stylesheet" type="text/css" th:href="@{../static/css/emailLogin.css}">
</head>
<body>
<form id=loginForm method="post" th:action="@{member/login}">
    <div class="top-wrapper">
        <div class="wrapper">
            <div class="middle-wrapper">
                <img src="../static/images/집보는중m.png">


                <div class="text-wrapper">
                    <div>간편하게 로그인하고</div>
                    <div>다양한 서비스를 즐기세요</div>
                </div>

                <div class="login-wrapper">
                    <input type="text" name="email" placeholder="  이메일 주소"><br>
                    <input type="password" name="password" placeholder="  비밀번호">
                </div>
            </div>

            <div id="moveJoinBtn" class="start-join">회원가입</div>

            <input type="submit" id="loginBtn" class="loginBtn" value="시작하기">
        </div>
    </div>

</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#moveJoinBtn').click(function () {
        window.location.href = 'join';
    });

    $('#loginForm').on('submit', function(event) {
        event.preventDefault(); // 기본 폼 제출 동작을 막습니다.


        $.ajax({
            type: 'POST',
            url: '/member/login',
            data: $('#loginForm').serialize(),
            success: function(response) {

                if (response.result === '로그인 성공!') {
                    // 토큰을 로컬 스토리지에 저장
                    localStorage.setItem('token', response.token);
                    localStorage.setItem('refreshToken', response.refreshToken);

                    // index 페이지로 리디다이렉트
                    window.location.href = '/';
                } else {
                    alert('로그인 실패. 다시 시도해주세요.');
                }
            },
            error: function(error) {
                alert('로그인 실패. 다시 시도해주세요.');
            }
        });
    });

</script>

</body>
</html>