<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/kakaoLogin.css">
    <link rel="stylesheet" type="text/css" th:href="@{../static/css/kakaoLogin.css}">
</head>
<body>
<div class="top-wrapper">
    <div class="wrapper">
        <div class="middle-wrapper">
            <img src="../static/images/집보는중m.png">


            <div class="text-wrapper">
                <div>간편하게 로그인하고</div>
                <div>다양한 서비스를 즐기세요</div>
            </div>

                <a class="kakao-btn" th:href="@{/oauth2/authorization/kakao}">카카오 로그인</a>
        </div>

        <div id="moveLoginBtn" class="start-email">이메일로 시작하기</div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>


    $(document).ready(function () {
        $('#moveLoginBtn').click(function () {
            window.location.href = 'login';
        });
    })
</script>
</body>
</html>